@import "tailwindcss";

/* src/styles.css */

/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;

  /* Hide scrollbar for IE / old Edge */
  -ms-overflow-style: none;
}

/* Optional: Hide the page-level scrollbar too */
html,
body {
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
